.footer-container{
    background-color: rgba(0, 0, 0, 0.878);
    border-top: 2px solid #ff00fb;
    display: flex;
    height: 100%;
    justify-content: center;
}

.footer-box{
    margin: 2rem;
}

.footer-img{
    margin: 1.5rem;
    transition: 500ms;
}



.footer-img:hover{
    transform: scale(1.2);
}

.footer-derechos{
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width:768px) {
    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }


}







